{% extends 'base.html' %}
{% load i18n %}
{% load l10n %}
{% block title %}{% trans "Usage Resources For Project" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Usage resources summary") %}

<script src="/static/d3/d3.v3.min.js" charset="utf-8"></script>
<script src="/static/d3/d3pie.js" charset="utf-8"></script>

<style>
    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    .x.axis path {
      display: none;
    }

    .line {
      fill: none;
      stroke: steelblue;
      stroke-width: 1.5px;
    }
</style>

{% endblock page_header %}

{% block main %}

<div class="quota-dynamic">

<div class="d3_quota_bar">
<h3>VCPU Usage</h3>
<div id="cpu"></div></div>

<div class="d3_quota_bar">
<h3>MEMORY Usage</h3>
<div id="mem"></div></div>

<div class="d3_quota_bar">
<h3>DISK Usage</h3>
<div id="disk"></div></div>

</div>

<div class="d3_quota_bar">
<h3>Hypervisors Load Average for Period</h3>
<div id="loadavg"></div>
<h3>CPU Utilization(%) for Period</h3>
<div id="cpu_util"></div>
<h3>Memory Utilization(%) for Period</h3>
<div id="mem_util"></div>
</div>

<div class="row-fluid">
<div class="col-sm-12">
{{ table.render }}
</div>
</div>

<script type="text/javascript">

var graph_count = 3;
var graphs = ["cpu","mem","disk"];
var content = [];

content[0] = [{% for tenant in stats %}{label:"{{tenant.name}}",value:{{tenant.cpu_flavored}}},{% endfor %}{label:"free",value:{{cpu_quota_free}},color:"#d3d3d3"}];
content[1] = [{% for tenant in stats %}{label:"{{tenant.name}}",value:{{tenant.memory_flavored}}},{% endfor %}{label:"free",value:{{memory_quota_free}},color:"#d3d3d3"}];
content[2] = [{% for tenant in stats %}{label:"{{tenant.name}}",value:{{tenant.disk_flavored}}},{% endfor %}{label:"free",value:{{disk_quota_free}},color:"#d3d3d3"}];

for (var i = 0; i < graph_count; i++)
{
var pie = new d3pie(graphs[i], {
	header: {
		title: {
			text:""
		}
	},
        labels: {
               mainLabel: {
                        fontSize: 15
               },
               percentage: {
                        fontSize: 15
               },
               value: {
                        fontSize: 15
               }
        },
        size: {
		pieOuterRadius: "100%",
		canvasHeight: 360
	},
	data: {
		content: content[i]
	},
	misc: {
		colors: {
			segments: ["#2484c1","#0c6197","#4daa4b","#90c469","#daca61","#e4a14b","#e98125","#cb2121","#830909",
                                   "#923e99","#ae83d5","#bf273e","#ce2aeb","#bca44a","#618d1b","#1ee67b","#b0ec44","#a4a0c9",
                                   "#322849","#86f71a","#d1c87f","#7d9058","#44b9b0","#7c37c0","#cc9fb1","#e65414","#8b6834","#248838"]
	                }
	}
});

};

</script>

<script>

var graph_count = 3;
var graphs = ["#loadavg", "#cpu_util", "#mem_util"];
var totals = [10,100,100];
var total_labels = ["LA","Cpu(%)","Memory(%)"];

var data_util = [];

data_util[0] = [ {% for item in hvs_load_avg %}{ {% for key,value in item.0.items %} "{{key}}":{{value|localize}},{% endfor %}},{% endfor %} ];
data_util[1] = [ {% for item in cpu_util_avg %}{ {% for key,value in item.0.items %} "{{key}}":{{value|localize}},{% endfor %}},{% endfor %} ];
data_util[2] = [ {% for item in mem_util_avg %}{ {% for key,value in item.0.items %} "{{key}}":{{value|localize}},{% endfor %}},{% endfor %} ];

for (var i = 0; i < graph_count; i++)
{
   data_util[i].forEach(function(d) {d.date = new Date(d.date * 1000); });

   var margin = {
        top: 20,
        right: 80,
        bottom: 30,
        left: 50
      },
      width = 800 - margin.left - margin.right,
      height = 200 - margin.top - margin.bottom;

    var x = d3.time.scale().range([0, width]);
    var y = d3.scale.linear().range([height, 0]);
    var color = d3.scale.category10();
    var xAxis = d3.svg.axis().scale(x).orient("bottom");
    var yAxis = d3.svg.axis().scale(y).orient("left");

    var line = d3.svg.line()
      .interpolate("basis")
      .x(function(d) {
        return x(d.date);
      })
      .y(function(d) {
        return y(d.util);
      });

    var svg = d3.select(graphs[i]).append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
      .append("g")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    var data = data_util[i];

    color.domain(d3.keys(data[0]).filter(function(key) {
      return key !== "date";
    }));

    var projects = color.domain().map(function(name) {
      return {
        name: name,
        values: data.map(function(d) {
          return {
            date: d.date,
            util: +d[name]
          };
        })
      };
    });

    x.domain(d3.extent(data, function(d) {
      return d.date;
    }));

    y.domain([0,
              d3.max(projects, function(c) {
                    return totals[i];
                 })
             ]);

    svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

    svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
      .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text(total_labels[i]);

    var project = svg.selectAll(".project")
      .data(projects)
      .enter().append("g")
      .attr("class", "project");

    project.append("path")
      .attr("class", "line")
      .attr("d", function(d) {
        return line(d.values);
      })
      .style("stroke", function(d) {
        return color(d.name);
      });

    project.append("text")
      .datum(function(d) {
        return {
          name: d.name,
          value: d.values[d.values.length - 1]
        };
      })
      .attr("transform", function(d) {
        return "translate(" + x(d.value.date) + "," + y(d.value.util) + ")";
      })
      .attr("x", 3)
      .attr("dy", ".35em")
      .text(function(d) {
        return d.name;
      });
};

</script>

{% endblock %}
