{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Usage Resources For Project" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Usage resources summary") %}
{% endblock page_header %}

{% block main %}
<div class="quota-dynamic">
<h3>{% trans "Graphs:" %}</h3>

<br/>
<div class="d3_quota_bar">
<h3>VCPU Usage</h3>
<div class="d3_pie_chart_distribution" data-used="{% for tenant in stats %}{{tenant.name}}={{tenant.cpu_flavored}}|{% endfor %}free={{cpu_quota_free}}"></div></div>

<div class="d3_quota_bar">
<h3>MEMORY Usage</h3>
<div class="d3_pie_chart_distribution" data-used="{% for tenant in stats %}{{tenant.name}}={{tenant.memory_flavored}}|{% endfor %}free={{memory_quota_free}}"></div></div>

<div class="d3_quota_bar">
<h3>DISK Usage</h3>
<div class="d3_pie_chart_distribution" data-used="{% for tenant in stats %}{{tenant.name}}={{tenant.disk_flavored}}|{% endfor %}free={{disk_quota_free}}"></div></div>

</div>

<div class="row-fluid">
<div class="col-sm-12">
{{ table.render }}
</div>
</div>

{% endblock %}


